body {

  font-family: sans-serif;
  background-color: red
}

#gro {
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: 900px;
}

#clo{
  background-color: yellow;
  color: blue;
  align-self: flex-end;
}

#but{
  background-color: tomato;
  padding: 10px;
  flex-direction: row-reverse;
}

#inpu{
  position: absolute;
  top: 10%;
  align-self: center;
  width: 20%;
  height: 2%
}

#shop{
  position: absolute;
  top: 15;
  left: 15px;
}

#menu{
  background-color: pink;
  padding: 50px;
  align-self: flex-start;
}

#elem1 {
  background-color: green;
  align-self: flex-start;
}

#assor{
  position: absolute;
  left: 158px;
  top: 141px;
  background-color: indianRed;
  height: 90%
}

#icon{
  position: relative;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;

  background-color: purple;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 10px;

}

#buText{
  background-color: peru;
  position: absolute;
  bottom: 20px;
  left: 15px;
}
